---
layout: default
---


Actualité : Venez assister à la présentation des travaux en cours de mes doctorants
lors du séminaire annuel le 8 juin (disponible ne ligne). Toutes les infos sont <a href="https://www.linkedin.com/posts/activity-7061965584875319296-AQVv?utm_source=share&utm_medium=member_desktop">ici</a>
<br>
<br>
<h2 class="section-title"> Content :</h2>
- <a href="#Position">Position and responsabilities</a><br />
- <a href="#Current">Current students</a><br />
- <a href="#Available">Available positions</a><br />
- <a href="#introduction">Publications</a><br />
<br>
<br>

<a class="anchor" id="Position"></a>
{% include career-profile.html %}

<a class="anchor" id="Current"></a>
{% include career-profile_2.html %}

<a class="anchor" id="Available"></a>
{% include career-profile_3.html %}
{% include research-topics.html%}
{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

<a class="anchor" id="introduction"></a>
{% include experiences.html %}

{% include projects.html %}

{% include oss-contributions.html %}

<a class="anchor" id="Publications"></a>
{% include publications.html %}

{% include skills.html %}
